.max-w {
    max-width: 1520px;
  }
  
  .m-auto {
    margin: auto;
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .bg {
    background-color: #24262b;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .grid {
    display: grid;
  }
  
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  .lg\:col-span-2 {
    grid-column: span 2 / span 2;
  }
  
  .my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .sm\:flex-row {
    flex-direction: row;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .w-full {
    width: 100%;
  }
  
  .rounded-md {
    border-radius: 0.375rem;
  }
  
  .text-black {
    color: #000000;
  }
  
  .input {
    display: inline-block;
  }
  
  [type='email'] {
    -webkit-appearance: textfield;
    appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: text;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: #d2d6dc;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  [type='email']::placeholder {
    color: #a0aec0;
    opacity: 1;
  }
  
  [type='email']::-ms-input-placeholder {
    color: #a0aec0;
    opacity: 1;
  }
  
  [type='email']::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  
  [type='email']::-webkit-inner-spin-button,
  [type='email']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  [type='email']::placeholder {
    color: #a0aec0;
    opacity: 1;
  }
  
  .button {
    display: inline-block;
  }
  
  .bg {
    background-color: #00df9a;
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .w{
    width: 200px;
  }
  
  .ml-4 {
    margin-left: 1rem;
  }
  
  .my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  
  .border-none {
    border: none;
  }
  
  .text {
    color: #00df9a;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-width: 1px;
    border-style: inset;
    border-color: #a0aec0;
  }
  
  .my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .bg-gray-700 {
    background-color: #4a5568;
  }
  
  .border-1 {
    border-width: 1px;
  }
  
  .gark\:bg-gray-700 {
    background-color: #4a5568;
  }
  