/* TopPicks.css */

/* Existing CSS styles */

.product-container {
    position: relative;
    border-radius: 1.5rem;
}
  
.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem; /* Add padding to the overlay */
}

.product-title {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
    margin: 0; /* Remove margin */
    text-align: left; /* Align text to the left */
}

.product-price {
    color: white;
    align-items: center;
}

.add-to-cart-btn {
    align-items:end;
    border: 2px solid white;
    color: white;
    height: 25%;
    width: 50%;
    padding: 0.5rem 0.5rem; /* Adjust padding */
    font-size: 0.75rem; /* Adjust font size */
    background-color: transparent;
    cursor: pointer;
    margin-top: 0.3rem; /* Adjust margin top */
}

.product-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.product-image:hover {
    transform: scale(1.05);
}
